* 
{
  margin: 0;
  padding: 0; 
}

  
#menu 
{
  background-color: #D2EA9B;
  width: 65px;
  height: 65px;
  position: fixed;
  right: 20px;
  left: auto;
  top: 20px;
  transform: rotate(0deg);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 20%;
}

#menu span 
{
  display: block;
  position: absolute;
  height: 7px;
  width: 70%;
  background: #090909;
  border-radius: 9px;
  opacity: 1;
  left: 10px;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#menu #line1 
{
  top: 14px;
  transform-origin: center center;
}

#menu #line2
{
  top: 30px;
  transform-origin: center center;
}

#menu #line3 
{
  top: 46px;
  transform-origin: center center;
}

#menu.toggle #line1 
{
  transform: rotate(45deg);
  top: 30px;
}

#menu.toggle #line2 
{
  width: 0%;
  opacity: 0;
}

#menu.toggle #line3 
{
  transform: rotate(-45deg);
  top: 30px;
}

