*
{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing:border-box;
    max-width: 100%;
    overflow-x: hidden;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body
{
    background-color: white;
    max-width: 100%;
}

nav
{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.nav-active
{
    position: fixed;
    background-color: black;
    animation-name: nav_show;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    transform-origin: top;
    align-items: center;
}


@keyframes nav_show 
{
    0%{transform: scaleY(0);}
    50% {transform: scaleY(1);}
    75% {transform: scaleY(0.8);}
    100% {transform: scaleY(1);}
}

#nav img
{
    width: 80px;
    padding: 20px;
}

#nav #text
{
    padding: 20px;
}

#nav #text a
{
    font-family: 'Varela Round', sans-serif;
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
}

#nav #text a:hover
{
    color: rgb(224, 224, 224);
}

#nav #text a:active
{
    color: rgb(184, 184, 184);
}

#nav_mobile
{
    position: fixed;
    width: 100%;
    z-index: 5;
    display: none;
}

#navbar
{
    z-index: 5;
    background-color: #030303;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar img
{
    width: 20%;
    height: auto;
    margin: 10px;
}

#menu 
{
    width: 12vw;
    height: 12vw;
    transform: rotate(0deg);
    transition: 0.3s ease-in-out;
    margin-right: 10px;
}

#menu span 
{
    position: absolute;
    border-radius: 20px;
    height: 1vw;
    width: 80%;
    background: #ffffff;
    opacity: 1;
    transform: rotate(0deg);
    transition: 0.2s ease-in-out;
}

#menu #line1 
{
    top: 25%;
    transform-origin: center center;
}

#menu #line2
{
    top: 50%;
    transform-origin: center center;
}

#menu #line3 
{
    top: 75%;
    transform-origin: center center;
}

#menu.toggle #line1 
{
    transform: rotate(45deg);
    top: 50%;
}

#menu.toggle #line2 
{
    width: 0%;
    opacity: 0;
}

#menu.toggle #line3 
{
    transform: rotate(-45deg);
    top: 50%;
}

@media only screen and (max-width: 550px)
{
    #menu 
    {
        width: 15vw;
        height: 15vw;
    }
} 

#navigation
{
    background-color: #030303;
    transform-origin: top center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: scaleY(0);
    transition: 0.2s;
    padding: 20px;
}

#nav_mobile .navigation-active
{
    animation-name: nav_mobile_show;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    transform: scaleY(1);
}

#navigation a
{
    color: white;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 5vw;
    font-weight: 50;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(44, 44, 44); 
}

@keyframes nav_mobile_show 
{
    0%{transform: scaleY(0);}
    50% {transform: scaleY(1);}
    80% {transform: scaleY(0.9);}
    100% {transform: scaleY(1);}
}

#background
{
    z-index: 0;
    height: 550px;
    width: 100%;
    background: rgb(11,95,239);
    background: linear-gradient(90deg, rgba(11,95,239,1) 0%, rgba(202,65,242,1) 100%);
    display: flex;
    justify-content: center;
}

#home
{
    position: absolute;
    background-color: white;
    border-radius: 35px;
    margin-top: 150px;
    max-width: 700px;
    min-width: 65%;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#home #text
{
    margin-bottom: 40px;
    margin-left: 30px;
}

#home #foto
{
    border: #c6c6c6 solid 2px;
    border-radius: 20px;
    max-width: 400px;
    max-height: 400px;
    margin: 20px;
}

#home h1
{
    font-family: 'Varela Round', sans-serif;
    font-size: 50px;
    font-weight: 100; 
}

#home h2
{
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
    font-weight: 100; 
}

#home button
{
    position: absolute;
    background: rgb(11,95,239);
    background: linear-gradient(90deg, rgba(11,95,239,1) 0%, rgba(202,65,242,1) 100%);
    border-radius: 30px;
    color: white;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    font-weight: 20; 
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    bottom: 100px;
    left: 470px;
}

#home #icons
{
    position: absolute;
    display: flex;
    gap: 10px;
    margin: 10px;
    align-items: center;
    flex-direction: row-reverse;
    bottom: 5px;
    right: 5px;
}

#home #icons img
{
    width: 50px;
    height: auto;
    border-radius: 0;
    border: none;
    margin: 0;
    height: fit-content;

}

#home button:hover
{
    cursor: pointer;
}

#about
{
    padding-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    font-family: 'Varela Round', sans-serif;
    background-color: #F2F2F2;
}

#about #text
{
    width: 50%;
}

#about #text h1
{
    font-size: 40px;
}

#about #text p
{
    font-size: 20px;
    font-weight: lighter;
}

#about #container
{
    width: 480px;
    height: 10px;
    background-color: rgb(137, 137, 137);
    border-radius: 25px;
}

#about #bar
{
    height: 20px;
    width: 500px;
    border: #969696 1px solid;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

#about .skill
{
    height: 10px;
    border-radius: 25px;
    background: rgb(11,95,239);
    background: linear-gradient(90deg, rgba(11,95,239,1) 0%, rgba(202,65,242,1) 100%);
}

#about h2
{
    font-size: 15px;
    font-weight:normal;
}

#about .c_sharp
{
    width: 70%;
}

#about .javascript
{
    width: 50%;
}

#about .HTML
{
    width: 75%;
}

#about .CSS
{
    width: 50%;
}

#favourite 
{
    position: relative;
    overflow: hidden;
    margin-top: 150px;
    max-width: 100%;
}

#favourite #container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height:500px;
}

#favourite #container .box
{
    width: 250px;
    height: fit-content;
    position: absolute;
    transition: 0.3s;
    overflow: hidden;
}

#favourite #container .box:hover
{
    cursor: pointer;
}

#favourite #container .box-active
{
    width: 300px
}

#favourite #circles
{
    padding-top: 10px;
    display:flex;
    justify-content: center;
    gap: 10px;
}

#favourite .dot_fv
{
    width: 10px;
    height: 10px;
    background-color: #b7b7b7;
    border-radius: 50%;
}

#favourite .dot_fv:hover
{
    cursor: pointer;
}

#favourite .dot-active
{
    background-color: #797979;
}

#favourite .info
{
    display: flex;
    z-index: 10;
    position:absolute;
    top: 0;
    background-color: #030303;
    color: white;
    width: 100%;
    height: 100%;
}

.info-hide
{
    animation-name: info_hide;
    animation-duration: 0.3s;
    opacity: 0;
}

.info-active
{
    animation-name: info_show;
    animation-duration: 0.3s;
    opacity: 0.8;
}

@keyframes info_show 
{
  from {opacity: 0;}
  to {opacity: 0.8;}
}

@keyframes info_hide 
{
    from {opacity: 0.8;}
    to {opacity: 0;}
}

#projects
{
    margin-top: 75px;
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

#projects #container
{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 40px;
    height: 600px;
}

.project
{
    position: absolute;
    background: rgb(11,95,239);
    background: linear-gradient(90deg, rgba(11,95,239,1) 0%, rgba(202,65,242,1) 100%);
    height: auto;
    width: 400px;
    min-width: 440px;
    border-radius: 10px;
    opacity: 60%;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
}

.project #icons
{
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.project #icons img
{
    width: 40px;
    margin-right: 10px;
    margin-bottom: 8px;
    border-radius: 0;
}

.project img 
{
    margin-bottom: 3%;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.project h1
{
    
    font-family: 'Varela Round', sans-serif;
}

.project p
{
    font-family: 'Varela Round', sans-serif;
}

.project-active
{
    height: auto;
    width: 400px;
    min-width: 430px;
    opacity: 100%;
}

.project #text
{
    height: fit-content;
    padding-bottom: 70px;
    width: 100%;
    overflow-y: hidden;
}


#projects #circles
{
    margin-top: 10px;
    display:flex;
    justify-content: center;
    gap: 10px;
}

#projects .dot_pj
{
    width: 10px;
    height: 10px;
    background-color: #b7b7b7;
    border-radius: 50%;
}

#projects .dot_pj:hover
{
    cursor: pointer;
}

#projects .dot-active
{
    background-color: #797979;
}

#projects #buttons
{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 50px;

}

#projects button
{
    border: none;
    background: rgb(11,95,239);
    background: linear-gradient(90deg, rgba(11,95,239,1) 0%, rgba(202,65,242,1) 100%);
    border-radius: 50%;
    color: white;
    width: 50px;
    height: 50px;
}

#projects button:hover
{
    cursor: pointer;
    color: rgb(231, 231, 231);
}

#projects span
{
    font-size: 35px;
}

#idols
{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;
}

#idol
{
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 350px;
    background: rgb(11,95,239);
    background: linear-gradient(90deg, rgba(11,95,239,1) 0%, rgba(202,65,242,1) 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#idol h1
{
    font-family: 'Varela Round', sans-serif;
    margin-top: 10px;
}

#idol p
{
    font-family: 'Varela Round', sans-serif;
}

footer
{
    margin-top: 200px;
    background-color: #030303;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 10px;
}

footer #icons
{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    filter: invert(1);
    height: 75px;
    width: 100%;
    margin: 20px;
}

footer #icons a
{
    transition: 0.5s;
}

footer #icons a:hover
{
   transform: scale(1.5);
}

footer #name img
{
    width: 40px;
}

footer #icons img
{
    width: 40px;
    height: auto;
}

footer h1
{
    font-family: 'Varela Round', sans-serif;
}

footer p
{
    font-family: 'Varela Round', sans-serif;
}

footer #name
{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media only screen and (max-width: 800px) 
{
    body
    {
        max-width: 800px;
    }

    #nav
    {
        display: none;
    }

    #nav_mobile
    {
       display: inline;
    }

    #background
    {
        background: white
    }

    #home
    {
        flex-direction: column;
        width: 100%;
        height: 750px;
        border-radius: 0;
        margin-top: 100px;
    }

    #home button
    {
        bottom: 2.5vw;
        left: 20px;
        font-size: 4vw;
    }

    #home #foto
    {
        width: 90%;
        min-width: 50%;
        min-height: auto;
        max-width: 400px;
        border-radius: 10px;
    }

    #home #icons
    {
        bottom: 0.7vw;
    }

    #home #icons img
    {
        width:9vw;
        height: auto;
    }

    #home #text
    {
        margin-top: 50px;
        margin-left: 90px;
        min-width: 400px;
    }

    #home h1
    {
        font-size: 8vw;
    }

    #home h2
    {
        font-size: 4vw;
    }

    #about
    {
        padding-top: 300px;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 100px;
        font-size: 5vw;
        gap: 40px;
    }

    #about #text
    {
        width: 100%;
        
    }

    #about #skills
    {
        width: 100%;
    }

    #about #bar
    {
        margin-top: 10px;
        width: 100%;
        height: 25px;
    }

    #about #container
    {
        width: 93%;
        height: 50%;
    }

    #about .skill
    {
        height: 100%;
    }

    
    #projects
    {
        height: 140vw;
        
    }

    #projects #container
    {
        height: 130vw;
    }

    .project
    {
        width: 80vw;
        min-width: 0px;
        height: 80%;
    }

    #projects #buttons
    {
        display: none;
    }

    .project h1
    {
        font-size: 8vw;
    }   

    .project p
    {
        font-size: 4vw;
    }

}

@media screen and (max-width: 600px)
{
    #home
    {
        height: 700px;
    }
}

@media screen and (max-width: 400px)
{
    #home
    {
        height: 600px;
    }

    #home #text
    {
        margin-left: 200px;
    }
}

@media screen and (max-width: 300px)
{
    #home
    {
        height: 500px;
    }
}